.sidebar-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

.library-header{
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 600;
}

.library-header svg {
    fill: #fff;
    width: 20px;
}

.create-btn{
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #1f1f1f;
    border-radius: 50px;
    padding: 8px 12px;
    border: none;
    outline: none;
    font-weight: 600;
    transition: 0.3s;
}

.create-btn svg {
    width: 23px;
}

.create-btn:hover {
    background-color: #2b2b2b;
}

.library-container{
    display: flex;
    flex-direction: column;
    padding:  0 8px;
    max-height: 390px;
    overflow-y: scroll;
}