.grid-container{
    display: grid;
    grid-template-areas:
        "header header header"
        "aside main main"
        "player player player";
    grid-template-columns: 380px 1fr;
    grid-template-rows: 1fr auto;
}
